# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\nlp_demo_project\nlp_java_code\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
